<!DOCTYPE html>
<html>
  <head>
    <meta name="viewpoint" content="width=device-width, initial-scalre= 1">
    <title>Add User</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>

                <form method="POST" action="/createUser">
                    <div className="form-group">
                        <label>Id:  </label>
                         <input type="text" class="form-control"/>
                    </div>
                     <div className="form-group">
                        <label>Full Name: </label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div className="form-group">
                        <label>Password: </label>
                        <input type="text" class="form-control"/>
                     </div>
                    <div className="form-group">
                        <input type="submit" class="btn btn-primary"/>
                   </div>
                 </form>
            </div>
